In [25]:
import pandas as pd

#Avisos
import warnings
warnings.filterwarnings('ignore')

# New Section

In [26]:
df=pd.read_csv("/content/Dados Históricos - Ibovespa(6 meses).csv", sep=",", parse_dates=["Data"])
df.head()

        Data   Último  Abertura   Máxima   Mínima    Vol.    Var%
0 2023-11-08  118.065   118.350  119.054  117.415  11,87M  -0,24%
1 2023-10-08  118.350   118.412  119.438  118.113  12,69M  -0,05%
2 2023-09-08  118.409   119.090  119.090  117.901  11,25M  -0,57%
3 2023-08-08  119.090   119.378  119.553  117.492  10,25M  -0,24%
4 2023-07-08  119.380   119.509  120.104  118.894   8,73M  -0,11%

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Data      147 non-null    datetime64[ns]
 1   Último    147 non-null    float64
 2   Abertura  147 non-null    float64
 3   Máxima    147 non-null    float64
 4   Mínima    147 non-null    float64
 5   Vol.      147 non-null    object
 6   Var%      147 non-null    object
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 8.2+ KB

In [28]:
df.head()

        Data   Último  Abertura   Máxima   Mínima    Vol.    Var%
0 2023-11-08  118.065   118.350  119.054  117.415  11,87M  -0,24%
1 2023-10-08  118.350   118.412  119.438  118.113  12,69M  -0,05%
2 2023-09-08  118.409   119.090  119.090  117.901  11,25M  -0,57%
3 2023-08-08  119.090   119.378  119.553  117.492  10,25M  -0,24%
4 2023-07-08  119.380   119.509  120.104  118.894   8,73M  -0,11%

In [29]:
def convert_to_float(value):
    return float(value.replace("M", "").replace(",", "."))

df["Vol."] = df["Vol."].apply(convert_to_float)

print(df)

          Data   Último  Abertura   Máxima   Mínima   Vol.    Var%
0   2023-11-08  118.065   118.350  119.054  117.415  11.87  -0,24%
1   2023-10-08  118.350   118.412  119.438  118.113  12.69  -0,05%
2   2023-09-08  118.409   119.090  119.090  117.901  11.25  -0,57%
3   2023-08-08  119.090   119.378  119.553  117.492  10.25  -0,24%
4   2023-07-08  119.380   119.509  120.104  118.894   8.73  -0,11%
..         ...      ...       ...      ...      ...    ...     ...
142 2023-01-17  111.439   109.214  111.577  109.214  14.36   2,04%
143 2023-01-16  109.213   110.908  110.908  108.753  12.51  -1,54%
144 2023-01-13  110.916   111.843  111.847  110.428  15.94  -0,84%
145 2023-12-01  111.850   112.516  113.129  110.982  19.84  -0,59%
146 2023-11-01  112.517   110.816  112.552  110.752  14.46   1,53%

[147 rows x 7 columns]

In [31]:
def convert_to_floats(value):
    return float(value.replace("%", "").replace(",", "."))

df["Var%"] = df["Var%"].apply(convert_to_floats)

print(df)

          Data   Último  Abertura   Máxima   Mínima   Vol.  Var%
0   2023-11-08  118.065   118.350  119.054  117.415  11.87 -0.24
1   2023-10-08  118.350   118.412  119.438  118.113  12.69 -0.05
2   2023-09-08  118.409   119.090  119.090  117.901  11.25 -0.57
3   2023-08-08  119.090   119.378  119.553  117.492  10.25 -0.24
4   2023-07-08  119.380   119.509  120.104  118.894   8.73 -0.11
..         ...      ...       ...      ...      ...    ...   ...
142 2023-01-17  111.439   109.214  111.577  109.214  14.36  2.04
143 2023-01-16  109.213   110.908  110.908  108.753  12.51 -1.54
144 2023-01-13  110.916   111.843  111.847  110.428  15.94 -0.84
145 2023-12-01  111.850   112.516  113.129  110.982  19.84 -0.59
146 2023-11-01  112.517   110.816  112.552  110.752  14.46  1.53

[147 rows x 7 columns]

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Data      147 non-null    datetime64[ns]
 1   Último    147 non-null    float64
 2   Abertura  147 non-null    float64
 3   Máxima    147 non-null    float64
 4   Mínima    147 non-null    float64
 5   Vol.      147 non-null    float64
 6   Var%      147 non-null    float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 8.2 KB